<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: layoutHead (pageTitle='Change Password | Admin Panel')"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="layout :: layoutMainHeader"></header>
    <aside th:replace="layout :: layoutSidebar"></aside>

    <div class="content-wrapper">
        <section class="content-header"></section>

        <section class="content">
            <div class="row">
                <div class="col-xs-6">
                    <div th:if="${param.success}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h4>
                            <i class="icon fa fa-check"></i>Password updated
                        </h4>
                    </div>

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Change Password</h3>
                        </div>
                        <form role="form" th:action="@{/admin/user/change-password}" th:object="${changePasswordForm}"
                              method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Current password</label>
                                    <input type="password" class="form-control" placeholder="Current password"
                                           name="currentPassword" required="required" th:value="*{currentPassword}"/>
                                    <label th:if="${#fields.hasErrors('currentPassword')}"
                                           th:errors="*{currentPassword}"
                                           class="text-danger"/>
                                </div>
                                <div class="form-group">
                                    <label>New password</label>
                                    <input type="password" class="form-control" placeholder="New password"
                                           name="newPassword" required="required" th:value="*{newPassword}"/>
                                    <label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                                           class="text-danger"/>
                                </div>
                                <div class="form-group">
                                    <label>Re-type new password</label>
                                    <input type="password" class="form-control" placeholder="Re-type new password"
                                           name="confirmNewPassword" required="required"
                                           th:value="*{confirmNewPassword}"/>
                                    <label th:if="${#fields.hasErrors('confirmNewPassword')}"
                                           th:errors="*{confirmNewPassword}" class="text-danger"/>
                                </div>
                                <label id="error-text"></label>
                            </div>
                            <div class="box-footer">
                                <button id="submit-btn" type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="layout :: layoutFooter"></footer>
</div>

<div th:replace="layout :: layoutScripts"></div>

</body>

</html>
