<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: layoutHead (pageTitle='Admin User | Admin Panel')"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="layout :: layoutMainHeader"></header>
    <aside th:replace="layout :: layoutSidebar"></aside>

    <div class="content-wrapper">
        <section class="content-header">

        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" th:text="${pageHeader}"></h3>
                        </div>
                        <form role="form" th:action="${formAction}" th:object="${user}" method="post">
                            <div class="box-body">
                                <div class="form-group" th:if="${buttonValue == 'Create'}">
                                    <label>Username</label>
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                           required="required"/>
                                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                        errors</label>
                                </div>
                                <div class="form-group" th:if="${buttonValue == 'Update'}">
                                    <label>Username</label>
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                           readonly="readonly" th:value="*{username}"/>
                                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                        errors</label>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="password"/>
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                        errors</label>
                                </div>
                                <div class="form-group">
                                    <label>Re-type Password</label>
                                    <input type="password" class="form-control" placeholder="Re-type Password"
                                           name="rePassword"/>
                                </div>
                                <div class="form-group" th:if="${buttonValue == 'Create'}">
                                    <label>Enabled</label>
                                    <select class="form-control" name="enabled" required="required">
                                        <option>1</option>
                                        <option>0</option>
                                    </select>
                                    <label th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">
                                        errors</label>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button id="submit-btn" type="submit" class="btn btn-primary" th:text="${buttonValue}">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="layout :: layoutFooter"></footer>
</div>
<div th:replace="layout :: layoutScripts"></div>
</body>

<script>
    $(document).ready(function () {
        $('input').keyup(function() {
            Utility.passwordsAreEquals('password', 'rePassword', '#error-text');
        });
    });
</script>

</html>