<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="layoutHead (pageTitle)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title th:text="${pageTitle}">Layout title</title>
    <link rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"/>
    <link rel="stylesheet" th:href="@{/vendor/css/jquery.dataTables.yadcf.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/css/skin-blue.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/utility.css}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header th:fragment="layoutMainHeader" class="main-header">

        <!-- Logo -->
        <a th:href="@{/admin}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b> Panel</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a>
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs" th:text="${#authentication.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:fragment="layoutSidebar" class="main-sidebar">

        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu tree">
                <li class="header">NAVIGATION</li>

                <li th:class="${#strings.equals(#httpServletRequest.getRequestURI(), '/admin/room-type') ? 'active':''}"
                    sec:authorize="hasRole(T(com.shbs.admin.user.authority.Role).ADMIN.name())">
                    <a th:href="@{/admin/room-type}"><i class="fa fa-key fa-fw"></i> <span>Room Types</span></a>
                </li>

                <li th:class="${#strings.equals(#httpServletRequest.getRequestURI(), '/admin/reservation') ? 'active':''}"
                    sec:authorize="hasRole(T(com.shbs.admin.user.authority.Role).ADMIN.name())">
                    <a th:href="@{/admin/reservation}"><i class="fa fa-key fa-fw"></i> <span>Reservations</span></a>
                </li>

                <li th:class="${#strings.equals(#httpServletRequest.getRequestURI(), '/admin/user') ? 'active':''}"
                    sec:authorize="hasRole(T(com.shbs.admin.user.authority.Role).ADMIN.name())">
                    <a th:href="@{/admin/user}"><i class="fa fa-key fa-fw"></i> <span>Admin Users</span></a>
                </li>

                <li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/admin/user/change-password') ? 'active':''}">
                    <a th:href="@{/admin/user/change-password}">
                        <i class="fa fa-pencil-square-o"></i> <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="document.logoutForm.submit()">
                        <i class="fa fa-sign-out"></i> <span>Sign Out</span>
                    </a>
                    <form name="logoutForm" th:action="@{/admin/logout}" method="post"></form>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> Admin</a></li>
                <li>Voucher</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer th:fragment="layoutFooter" class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="#">Jo</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->

<div th:fragment="layoutScripts">
    <script th:src="@{/vendor/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/vendor/js/AdminLTE.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
    <script th:src="@{/vendor/js/jquery.dataTables.yadcf.js}"></script>
    <script th:inline="javascript">
        // Put javascript global constants here
        GMTConfiguration = {
            HOUR_DIFFERENCE: /*[[${T(com.shbs.common.Constant).HOUR_DIFFERENCE}]]*/ 7,
            TIMEZONE_ABBREVIATION: /*[[${T(com.shbs.common.Constant).TIMEZONE_ABBREVIATION}]]*/ WIB,
            MOMENTJS_MYSQL_DATE_FORMAT: 'YYYY-MM-DD HH:mm:ss'
        };

        DatatablesFilterConfiguration = {
            FILTER_DELAY_IN_MILLISECONDS: 300,
            RANGE_SEARCH_FILTER_DELIMITER: '-yadcf_delim-',
            DATEPICKER_TYPE: 'bootstrap-datetimepicker',
            DATETIMEPICKER_OPTIONS: {
                timeFormat: 'HH:mm:ss',
                dateFormat: 'yy-mm-dd'
            }
        };
    </script>
    <script th:src="@{/js/utility.js}"></script>
</div>

</body>
</html>
