<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: layoutHead (pageTitle='Room Type | Admin Panel')"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="layout :: layoutMainHeader"></header>
    <aside th:replace="layout :: layoutSidebar"></aside>

    <div class="content-wrapper">
        <section class="content-header">

        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" th:text="${pageHeader}"></h3>
                        </div>
                        <form role="form" th:action="${formAction}" th:object="${roomTypeForm}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Type</label>
                                    <input type="text" class="form-control" placeholder="type" name="type"
                                           required="required" th:value="${roomTypeForm?.type}"/>
                                    <label th:if="${#fields.hasErrors('type')}" th:errors="*{type}">errors</label>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" placeholder="description"
                                           name="description" th:value="${roomTypeForm?.description}"/>
                                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                        errors</label>
                                </div>
                                <div class="form-group">
                                    <label>Image URL</label>
                                    <input type="url" class="form-control" placeholder="image"
                                           name="image" th:value="${roomTypeForm?.image}"/>
                                    <label th:if="${#fields.hasErrors('image')}" th:errors="*{image}">errors</label>
                                </div>
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="number" class="form-control" placeholder="quantity"
                                           name="quantity" required="required" th:value="${roomTypeForm?.quantity}"/>
                                    <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
                                        errors</label>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" class="form-control" placeholder="price"
                                           name="price" required="required" th:value="${roomTypeForm?.price}"/>
                                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}">errors</label>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button id="submit-btn" type="submit" class="btn btn-primary" th:text="${buttonValue}">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="layout :: layoutFooter"></footer>
</div>
<div th:replace="layout :: layoutScripts"></div>
</body>

</html>